<br>
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card pad">
          <div class="card-block">
              <h4 class="card-title mt-3"> {{book.name}}</h4>
              <div class="meta">
                  <a> {{book.editorial}}</a>
              </div>
              <div class="card-text">
                   {{book.autor}}
              </div>
          </div>
          <div class="card-footer">
              <small> {{book.edition}}</small><br>
              <a href="#" (click)="removeBook(book)" class="btn btn-danger btn-sm">Eliminar</a>
          </div>
      </div>
  </div>